.title {
    color: orange;
    font-size: 88px;
}

.sentences {
    color: blue;
    font-size: 80px;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
}

img.one {
    opacity: 0;
}

img.two {
    opacity: 0;
}

img.three {
    opacity: 0;
}

img.four {
    opacity: 0;
}

img.five {
    visibility: hidden;
    height: 250px;
    width: 250px;
}