body {
     background-color: yellow;
}

.title {
    color: green;
    font-size: 88px;
    text-decoration: underline;
}

.sentences {
    color: blue;
    font-size: 80px;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
}

img.one {
    opacity: 0;
}

img.two {
    opacity: 0;
}

img.three {
    visibility: hidden;
    height: 500px;
    width: 500px;
}






