

@mixin customMobile() {
  @media screen and (min-width: 375px) and (max-width: 580px) {
    @content;
  }
}

@mixin tabNavHoverFocusMixin() {
  text-decoration: underline;
  outline: 1px dotted;
  background-color: teal;
}

.tab-nav-section {
  .tab-nav-container {
    border: 2px dotted teal;
    display: flex;
    justify-content: center;
    button.tab {
      border: none;
      background-color: transparent;
      &:hover, &:focus {
        @include tabNavHoverFocusMixin();
      }
    }
    @include customMobile() {
      display: none;
    }
  }
  .dropdownButtonContainer {
    display: none;
    @include customMobile() {
      display: block;
    }
  }
  .tab-nav-dropdown-menu-container {
    display: none;
    button.tab {
      border: 2px solid blue;
    }
    &.reveal {
      display: flex;
      flex-direction: column;
    }
  }
  .tab-nav-content-container {
    border: 3px dotted blue;
  }
}

.play-list-renderer-section {
  .jumbotron {
    background-color: pink;
  }
}





