

@mixin customMobile() {
  @media screen and (min-width: 375px) and (max-width: 580px) {
    @content;
  }
}

@mixin tabNavHoverFocusMixin() {
  text-decoration: underline;
  outline: 1px dotted;
  background-color: teal;
}

.tab-nav-section {
  .tab-nav-container {
    border: 2px dotted teal;
    display: flex;
    justify-content: center;
    button.tab {
      border: none;
      background-color: transparent;
      &:hover, &:focus {
        @include tabNavHoverFocusMixin();
      }
    }
    @include customMobile() {
      display: none;
    }
  }
  .dropdownButtonContainer {
    display: none;
    @include customMobile() {
      display: block;
    }
  }
  .tab-nav-dropdown-menu-container {
    display: none;
    button.tab {
      border: 2px solid blue;
    }
    &.reveal {
      display: flex;
      flex-direction: column;
    }
  }
  .tab-nav-content-container {
    border: 3px dotted blue;
  }
}

.play-list-renderer-section {
  height: auto;
  .jumbotron {
    background-color: pink;
  }
  .play-list-input-section {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .playListItem {
    border: 3px solid brown;
    max-height: 80rem;
    background-color: blue;
    color: white;
  }

  .playListItemImage {
    max-height: 25rem;
    max-width: 20rem;
  }
  .playListDisplayArea {
    min-height: 28rem;
    max-height: 50rem;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .presetObjects {
    height: 28rem;
    width: 28rem;
    border: 1px dotted blue;
  }
}

.mutation-observer-section {
  .jumbotron {
    background-color: blue;
  }
  .mutation-observer-area {
    height: 100%;
    background-color: gray;
  }
}










.card-suggestion-container {
  height: 800px;
  width: 100%;
  background-color: lightgray;
  .first-card {
    height: 100px;
    width: 100px;
    background-color: blue;
    opacity: 40%;
    transition: 0.88s;
  }
  .second-card {
    height: 100px;
    width: 100px;
    background-color: yellow;
    opacity: 40%;
    transition: 0.88s;
  }
  .third-card {
    height: 100px;
    width: 100px;
    background-color: brown;
    opacity: 40%;
    transition: 0.88s;
  }
}










// sample of using css :first-child selector
// li:first-child {
//   border: 3px solid brown;
// }

// li:first-child {
//   .media-card {
//     border: 3px solid maroon;
//   }
// }



// CSS re-usable functions sample
// @mixin reusable($firstColor, $secondColor, $thirdColor) {
//   .card-suggestion-container,
//   .tab-nav-container {
//     background-color: $firstColor;
//     border: 8px dotted $secondColor;
//     p, h1, h2, h3, h4, h5, h6 {
//       color: $thirdColor
//     }
//   }
// }

// .card-suggestion-container {
//   @include reusable(blue, orange, yellow);
// }