.jumbotron {
  background-color: #4286f4;
  text-align: center;
  font-size: 34px;
}

.one {
  height: 500px;
  width: 100%;
  background-color: #4265f4;
}

.two {
  height: 250px;
  width: 100%;
  background-color: #215ab7;
}

#hideButton {
  z-index:100;
}

.three {
  height: 500px;
  width: 100%;
  background-color:#20a0e5;
}

/* below this is for fade in effect, the class of div or element must be set to fade, to see this working*/
.fade {
  opacity: 0.5;
}

.fade:hover {
  opacity: 1;
}
/* above is for fade in effect, the class of div or element must be set to fade, to see this working */

.divInsideDiv {
  height:100px;
  width:100px;
  background-color blue;
}

.divInsideDiv:hover {
  background: blue;
}

.divInsideDiv2 {
  height:150px;
  width:100px;
  background-color: orange;
  -webkit-transition: width 3s;
}

.grow:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  width:650px;
  background-color: gold;
}

.sriLankaDiv {
  height:250px;
  width:500px;
  background-color: orange;
}

.sriLankaImg {
  height:250px;
  width:250px;
}

.shrink:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.four {
  height: 800px;
  width:100%;
  background-color: #3068c1;
}

.apiSection {
  height:200px;
  width:300px;
}

.rotate:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.rotate {
  margin:50%;
}








