.jumbotron {
  background-color: #4286f4;
  text-align: center;
  font-size: 34px;
}

.one {
  height: 500px;
  width: 100%;
  background-color: #4265f4;
}

.two {
  height: 250px;
  width: 100%;
  background-color: #215ab7;
}

#hideButton {
  z-index:100;
}

.three {
  height: 500px;
  width: 100%;
  background-color:#20a0e5;
}

/* below this is for fade in effect, the class of div or element must be set to fade, to see this working*/
.fade {
  opacity: 0.5;
}

.fade:hover {
  opacity: 1;
}
/* above is for fade in effect, the class of div or element must be set to fade, to see this working */

.divInsideDiv {
  height:100px;
  width:100px;
  background-color blue;
}

.divInsideDiv:hover {
  background: blue;
}

.divInsideDiv2 {
  height:150px;
  width:100px;
  background-color: orange;
  -webkit-transition: width 3s;
}

.grow:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  width:650px;
  background-color: gold;
}

.sriLankaDiv {
  height:250px;
  width:500px;
  background-color: orange;
}

.sriLankaImg {
  height:250px;
  width:250px;
}

.shrink:hover {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.four {
  height: 800px;
  width:100%;
  background-color: #3068c1;
}

.apiSection {
  height:200px;
  width:300px;
}

.rotation {
  height:200px;
  width:100%;
  background-color: black;
}


.rotate:hover {
  -webkit-transform: rotateZ(-30deg);
  -ms-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg);
}

.cubetocirclediv {
  height: 200px;
  width:100%;
  background-color: #17315b;
}

.cubetocircle {
  border-radius: 0%;
}

.cubetocircle:hover {
  border-radius: 50%;
  transition: 0.5s;
}

.shadowDiv {
  height:300px;
  width:100%;
  background-color:#e0e2e5;
}

.shadow {
  height:100px;
  width:100px;
  background-color: gray;
}

.shadow:hover {
  box-shadow: 
    /*1px 1px blue;
    2px 2px blue;
    3px 3px blue;*/
    3px 3px blue;
    4px 4px blue;
    5px 5px blue;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}


.swingDiv {
  height:200px;
  width:100%;
  background-color: #a80329;
}


.swing {
  height:100px;
  width:100px;
  background-color:#2e67c9;
}

/* define the actual swing movement below*/
  @-webkit-keyframes swing 
  {
    15%
    {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
    30%
    {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    50% 
    {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    65%
    {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    80%
    {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
    100% 
    {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes swing 
  {
    15%
    {
      -webkit-transform: translateX(5px);
      transform: translateX(5px);
    }
    30%
    {
      -webkit-transform: translateX(-5px);
      transform: translateX(-5px);
    }
    50%
    {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    80%
    {
      -webkit-transform: translateX(2px);
      transform: translateX(2px);
    }
    100%
    {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
/* define the actual swing movement above*/

.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.insetDiv {
  height:200px;
  width:100%;
  background-color: #3277ef;
}

.inset {
  height: 100px;
  width: 100px;
  background-color: #2c9cf7;
}

.inset:hover {
  box-shadow: inset 0 0 0 25px #07cbf7;
  transition: 2s;
}
.apiSection {
  height: 200px;
  width: 100%;
  background-color: #14356b;
}

/*.apiSection h4 {
  color: blue;
}*/



#theInputDiv{
  height: 34px;
  width:100%;
  background-color: white;
  opacity: 0.1; /*test*/
  visibility: hidden; /*test*/
}

#theInputDiv.newClass { /*test code block*/
  visibility: visible;
  opacity: 1.0;
  transition: 2.5s;
}

#theInputDiv2{
  height: 34px;
  width:100%;
  background-color: white;
  opacity: 0.0; /*test*/
  visibility: hidden; /*test*/
}

#theInputDiv2.newClass { /*test code block*/
  visibility: visible;
  opacity: 1.0;
  transition: 2.5s;
}

.theForm {
  top: 50%;
  box-sizing: border-box;
}


.newStartDiv {
  height: 1000px;
  width: 100%;
  background-color: #c6d1cb;
}

.subNewStartDiv1 {
  height:50px;
  width:100%;
  background-color: white;
}

.characterDiv {
  height: 500px;
  width: 500px;
  background-color: #535955;
}

#Kazuya {
  visibility: hidden;
  opacity: 0.5;
}

#Kazuya.newClass {
  visibility: visible;
  opacity: 1.0;
  transition: 2.5s;
}


#Lee {
  height:300px;
  width:600px;
  visibility: hidden;
  opacity: 0.5;
}

#Lee.newClass {
  visibility: visible;
  opacity: 1.0;
  transition: 2.5s;
}

.info {
  color: blue;
  background-color: white;
}

.es6area {
  height: 250px;
  width: 100%;
  background-color: #ce600c;
}

.loopArea {
  height: 250px;
  width:100%;
  background-color: #4d8ff9;
}

.loopingTableArea {
  height: 280px;
  width: 100%;
  background-color: white;
}

.paginationArea {
  height: 888px;
  width: 100%;
}

.paginationArea h3{
  color: black;
  font-weight: bold;
}

#wrapper { /*for paginationArea */
  border: 5px solid blue;
  padding: 10px;
  margin: 60px auto;
}

.contents { /*for paginationArea */
  text-align: center;
  color: blue;
  font-size: 20px;
  margin: 20px auto;
}

#page-navi {
  width: 50%;
  margin: 40px auto;
  margin-bottom: 10px;
  padding: 0px;
  overflow: hidden;
}

#page-navi li {
  list-style: none;
  display: inline;
}

#page-navi li a {
  float: left;
  display: block;
  padding: 8px 10px;
  border: solid blue;
  text-decoration: none;
  background: gray;
  -webkit-transition: background 200ms linear;
  border-radius: 3px;
  color: #4286f4;
}


#page-navi li:last-child a {
  margin-right: 0px;
}

#page-navi li a.current, 
#page-navi li a.disable, 
#page-navi li a:hover, {
  background: tomato;
  color: #fff;
  border-bottom: 3px solid #fff;
} 


.gaugeSection {
  height: 150px;
  width:100%;
  background-color: green;
}

.letterColor {
  color: blue;
}

.gaugeMeter {
  height: 10px;
  width: 100px;
  background-color: blue;
  display: inline-block;
}

.gaugeMeter2 {
  height: 10px;
  width: 100px;
  background-color: yellow;
  display: inline-block;
  visibility: hide;
}

.gaugeMeter3 {
  height: 10px;
  width: 100px;
  background-color: red;
  display: inline-block;
  visibility: hide;
}

.tickerAPIArea{
  height: 250px;
  width:100%;
  background-color:#4286f4;
}

.actualTickerArea {
  height: 22px;
  width: 300px;
  background-color: white;  
}

.linkIEX {
  color: blue;
}



.calculatorArea {
  height: 500px;
  width: 100%;
  background-color: #8db7fc;
}

.calculatorScreen {
  height: 200px;
  width: 50%;
  margin: auto;
  background-color: lightgray;
}

.inputArea {
  width: 50%;
  margin: auto;
}

.buttons {
  width: 50%;
  margin: auto;
}

.secondCalculatorArea {
  height: 34em;
  background-color: silver;
}

.firstInputArea {
  height: 2em;
  background-color: 'hotpink' !important;
}

.secondInputArea {
  height: 2em;
  background-color: 'lightblue' !important;
}

#calcDisplayArea {
  height: 5em;
  width: 10em;
  background-color: #79abfc;
}

.jetDisplayArea {
  height: 10em;
  width: 20em;
  background-color: #0e67f7;
}

.buttonRow {
  display: inline-block;
}

.D3 {
  height: 500px;
  background-color: #2d528e;
}

.extensive {
  height: 500px;
  background-color: #186df7;
}

.keyBoardUserDetectionArea {
  height: 500px;
  background-color: lightgreen;
}


.keyBoardFocus button:focus, a:focus {
  background-color: orange;
}

.stockTickerArea {
  height: 100%;
  background-color: #4286f4;
}

.stockTickerArea h5 {
  font-size: 35px;
}

.passwordProtectOverlay {
  height: 500px;
  color: white;
  background-color: #474d56;
}

.overlay {
  height: 500px;
  position: fixed;
  display: none;
  z-index: 2;
  background-color: gray;
}

.overlayInput {
  display: flex;
  margin: auto;
}

#passwordInputForPasswordProtect {
  background-color: black;
  color: white;
}

.submitPassword {
  background-color: blue;
}

.submitPassword:hover {
  outline: 2px solid gold;
}

.correctPasswordMessage {
  font-size: 50px;
}

.itemPopulatorArea {
  height: 500px;
  background-color: gray;
}

.utilsArea {
  height: 500px;
  background-color: darkorange;
}


.helperArea{
  height: 500px;
  background-color: green;
}

.helperAreaDisplay{
  height: 250px;
  background-color: white;
  width:50%;
  margin: auto;
}

.looperArea {
  height: 500px;
  background-color: #014dc6;
}

.looperArea h5 {
  color: white;
}

.container {
  height: 500px;
  background-color: #3983f9;
}

.JSONplace {
  height: 500px;
  background-color: #0e459e;
}

.extraBonusAreainJSONplace {
  height: 250;
  background-color: gray;
}

.extraBonusAreainJSONplace > h5:first-child {
  color: orange;
}

.extraBonusAreainJSONplace > h5:not(first-child):not(last-child) {
  color: maroon;
}

.extraBonusAreainJSONplace > h5:last-child {
  color: blue;
}





