.jumbotron {
  background-color: #4286f4;
  text-align: center;
  font-size: 34px;
}

.one {
  height: 500px;
  width: 100%;
  background-color: #4265f4;
}

.two {
  height: 250px;
  width: 100%;
  background-color: #215ab7;
}

#hideButton {
  z-index:100;
}