.title {
    color: orange;
    font-size: 88px;
}

.sentences {
    color: blue;
    font-size: 80px;
}

img.two {
    visibility: hidden;
}

img.three {
    visibility: hidden;
    height: 800px;
    width: 150px;
}